altgraph==0.16.1
aniso8601==6.0.0
astroid==2.2.5
auto-py-to-exe==2.6.5
backcall==0.1.0
BaseHash==3.0.8
beautifulsoup4==4.8.0
bottle==0.12.17
bottle-websocket==0.2.9
bs4==0.0.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
chromedriver-binary==77.0.3865.40.0
Click==7.0
colorama==0.4.1
cycler==0.10.0
Cython==0.29.13
decorator==4.4.0
Django==2.2.6
dnspython==1.16.0
Eel==0.10.4
fake-useragent==0.1.11
feedparser==5.2.1
Flask==1.1.1
Flask-API==1.1
future==0.17.1
get==2019.4.13
gevent==1.4.0
gevent-websocket==0.10.1
gql==0.1.0
graphene==2.1.6
Graphine==0.0
graphql-core==2.2
graphql-relay==0.4.5
graphqlclient==0.2.4
greenlet==0.4.15
html5lib==1.0.1
idna==2.8
include==0.2.2
ipython==7.8.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
Jinja2==2.10.1
joblib==0.13.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.1
lxml==4.4.0
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mutagen==1.42.0
numpy==1.16.4
opencv-python==4.1.1.26
pandas==0.24.2
parso==0.5.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==6.1.0
post==2019.4.13
promise==2.2.1
prompt-toolkit==2.0.10
public==2019.4.13
pycparser==2.19
pydub==0.23.1
pygame==1.9.6
pyglet==1.4.2
Pygments==2.4.2
PyInstaller==3.5
pylint==2.3.1
pymongo==3.8.0
pyparsing==2.4.0
pypi==2.1
PySocks==1.7.0
pytesseract==0.3.0
python-anticaptcha==0.4.1
python-dateutil==2.8.0
pytz==2019.1
pywin32-ctypes==0.2.0
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
Rx==1.6.1
scikit-learn==0.21.2
scipy==1.3.0
selenium==3.141.0
simplejson==3.16.0
six==1.12.0
sklearn==0.0
Slowloris==0.2.0
soupsieve==1.9.3
sqlparse==0.3.0
termcolor==1.1.0
tqdm==4.36.1
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.3
useragent==0.1.1
virtualenv==16.6.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
whichcraft==0.6.0
wrapt==1.11.2
